@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');

.App {
  text-align: center;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



