.cardVerticalContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 45%;
    height: 220px;
    background-color: #efefef;
    border-radius: 10px;
}
.imageAndReview
{
    position: relative;
    width: 100%;
    height: 110px;
}
.imageAndReview img
{
    width: 84%;
    height: 110%;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 15px;
}
.imageAndReview  .review
{
    font-size: 15px;
    position: absolute;
    top: 9%;
    left: 65%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(16px);
    display: none;
}
.imageAndReview .review i 
{
    color: #f79933;
}

.titleAndSubtitle
{
    width: 80%;
    font-size: 8px;
    text-align: start;
}
.titleAndSubtitle h2
{
    font-size: 16px;
    font-weight: 400;
    color: #aeaeae;
    margin:0;
}
.titleAndSubtitle h1
{
    font-weight: 500;
    margin:0;
    margin-bottom: 5px;
    margin-top: 10px;
}
.priceAndIconAdd
{
    position: relative;
    width: 80%;
    display: flex;
    font-weight: 900;
    text-align: end;
}
.priceAndIconAdd span
{
    padding-bottom: 10px;
}
.priceAndIconAdd button 
{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 13px;
    width: 18%;
    padding: 5px;
    position: absolute;
    right: 0;
    top: -4px;
}